<a href="https://colab.research.google.com/github/Harsh4807/Python-Loops/blob/main/DATA_TYPES_AND_STRUSTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What are data structures, and why are they important.
Ans--> A data structure is a special way of organizing and storing data in a in our programs.
it's importants are:-
*You can quickly access, search, sort, or update data.
*Choosing the right data structure can make your program much faster.
*Helps write cleaner, more logical code.

Q2. Explain the difference between mutable and immutable data types with examples.
Ans-->
#Mutable Data Types:-
*We can update the memory as per need without any error.
*Stored in memory as one Object.
*Ex: (List,Dict,Set).
# Immutable Data Type:-
*We cannot update the memory as per need, It will give error.
*Stored in memory as new object created on change.
*Ex: (Tuple,Str).

Q3. What are the main differences between lists and tuples in Python?
Ans-->
#List
*List is a Mutable Data Type.
*It is denoted as [].
*We can add or remove element.
*Many methods are available,Like(append.(),remve.(),etc)
#Tuple
*Tuple is Immutable Data Type.
*It is denoted as ().
*We cannot add or remove element after creation.
*Few methods are available,Like(Count,Index)only.

Q4. Describe how dictionaries store data?
Ans--> Dictionaries store data in Key value pairs and keys are unique and immutable.

Q5. Why might you use a set instead of a list in Python?
Ans-->
*Automatically Remove Duplicates
*For checking if an item exists in a set is much faster than in a list
*Sets allow you to do math-like operations to compare data between collections.

Q6. What is a string in Python, and how is it different from a list?
Ans--> String is a sequence of characters enclosed in quotes.
Strings are diffrent from lists in many following ways:-
*String can use only character Data Type.
*It is immutable.
*It is enclosed in "".

Q7. How do tuples ensure data integrity in Python?
Ans-->
*Immutable- Once created cannot be changed.
*Hashable- Can be use as a key in dictonary.
*Fixed dize- No adding or removing after created.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
Ans--> A hash table is a special data structure that stores data in key value pairs and allows very fast access to the value using the key.
 It relate to dictionaries in Python:-
 *Jumps to the memory location
 *Instantly fetches the value.

Q9. Can lists contain different data types in Python?
Ans--> Yes,lists contain different data types in Python.

Q10. Explain why strings are immutable in Python?
Ans-->
*Hashable- Can be used as dict/set keys
*Memory optimized- Faster and efficient
*Safer code- Reduce bugs in large programs.

Q11. What advantages do dictionaries offer over lists for certain tasks?
Aans-->
*No Need to Remember Index Positions
*Better for Structured Data
*Direct Access Using Keys.

Q12. Describe a scenario where using a tuple would be preferable over a list?
Ans-->
location = (28.6139, 77.2090)
location = [28.6139, 77.2090]
location[0] = 0 #This can change the coordinate accidently.
*A tuple would be preferable over a list by this:-
mmutable- Protects your coordinate from modification
Ordered- First is always latitude, second longitude
Hashable- Can be used as dictionary keys.

Q13. How do sets handle duplicate values in Python?
Ans-->In Python, sets automatically remove all duplicate values because
they only store unique elements.

Q14.How does the “in” keyword work differently for lists and dictionaries?
Ans-->*In List- It checks if a specific value exists anywhere in the list.
*In Dictionaries- It checks if the given item exists as a key in the dictionary not a value.

Q15.Can you modify the elements of a tuple? Explain why or why not?
Ans-->No, you cannot modify the elements of a tuple because it is immutable.

Q16.What is a nested dictionary, and give an example of its use case?
Ans-->A nested dictionary is a dictionary that contains one or more dictionaries as values.
Use Case:-
student= {
    "1":{"Name":"Harsh","Marks":{"Math":75,"Science":98}},
    "2":{"Name":"Yash","Marks":{"Math":25,"Science":21}}
}
print(student["1"]["Marks"]["Math"])

Q17. Describe the time complexity of accessing elements in a dictionary.
Ans-->Accessing a value from a dictionary by its key is extremely efficient in Python.
The time complexity is generally O(1) (constant time), which means it doesn’t slow down even if the dictionary has thousands of items.

Q18. In what situations are lists preferred over dictionaries.
Ans-->Although dictionaries are powerful for key-based access, Python lists are a better choice in certain situations.
*When You Care About Order and Position
*When You Need to Loop Through Items in Order
*When You Want to Store Unstructured Data.etc.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.
Ans-->In earlier versions of Python (before version 3.7), dictionaries were considere unordered collections —
They didn't preserve the order in which key-value pairs were added.
*You couldn't rely on the order of items in a dictionary.
*Two dictionaries with the same key-value pairs could display them in different orders.
*Iterating over a dictionary (e.g., in a for loop) would not follow insertion order.
Starting with (Python 3.7), dictionaries became insertion-ordered as an implementation detail, and from (Python 3.8) onward.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
Ans-->
Aspect/	                     List/                              Dictionary/
Retrieval method:	     By index (position)	     &             By key (label)
Key type:	               Always integers         &          Any immutable type
Data organization:	         Sequential	         &              Key-value paired
Suitability:	          Ordered collections	     &    Structured or labeled data

In [1]:
# Q1.  Write a code to create a string with your name and print it.
name="Harsh"
print(name)

Harsh

In [2]:
# Q2. Write a code to find the length of the string "Hello World".
a="Hello World"
print(len(a))

11

In [3]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming".
a="Python Programming"
print(a[0:3])

Pyt

In [6]:
# Q4. Write a code to convert the string "hello" to uppercase.
a="hello"
b=a.upper()
print(b)

HELLO

In [8]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [9]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.
a=[]
for i in range(1,6):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [10]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4,5]
l.append(10)
print(l)

[1, 2, 3, 4, 5, 10]

In [11]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [12]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a', 'b', 'c', 'd']
print(l[1])

b

In [13]:
# Q10.Write a code to reverse the list [10, 20, 30, 40, 50]
l=[10, 20, 30, 40, 50]
a=l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [14]:
# Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it
t=(100,200,300)
print(t)

(100, 200, 300)

In [15]:
# Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
print(t[1:])

('green', 'blue', 'yellow')

In [16]:
# Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
print(min(t))

5

In [17]:
# Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [18]:
# Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=("apple","banana","kiwi")
print("kiwi" in t)

True

In [22]:
# Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
t={"a", "b", "c"}
print(t)

{'c', 'a', 'b'}

In [24]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a={1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [25]:
# Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [30]:
# Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1, 2, 3}
b={3, 4, 5}
print(a | b)

{1, 2, 3, 4, 5}

In [31]:
# Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1, 2, 3}
b={2, 3, 4}
print(a & b)

{2, 3}

In [34]:
# Q22.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic={"Name":"Harsh","Age":23,"City":"Dhanbad"}
print(dic)

{'Name': 'Harsh', 'Age': 23, 'City': 'Dhanbad'}

In [38]:
# Q23.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a={'name': 'John', 'age': 25}
b={"country": "USA"}
a.update(b)
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [39]:
# Q24.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a={'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [40]:
# Q25.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop('age')
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [42]:
# Q26. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic={'name': 'Alice', 'city': 'Paris'}
print('city' in dic)

True

In [43]:
# Q27.Write a code to create a list, a tuple, and a dictionary, and print them all.
lis=[1,2,"Harsh",True]
tup=("harsh","1",2,4)
dic={"Name":"Harsh","Age":"23","City":"Dhanbad"}
print(lis)
print(tup)
print(dic)

[1, 2, 'Harsh', True]
('harsh', '1', 2, 4)
{'Name': 'Harsh', 'Age': '23', 'City': 'Dhanbad'}

In [44]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
lis= [75,98,22,99,44,71,1]
lis.sort()
print(lis)

[1, 22, 44, 71, 75, 98, 99]

In [45]:
# Q28.Write a code to create a list with strings and print the element at the third index.
lis= [1,2,"Harsh","Yash",True,3+7j]
print(lis[2])

Harsh

In [48]:
# Q29.Write a code to combine two dictionaries into one and print the result.
dic={"Name":"Harsh","Age":23}
dic1={"City":"Dhanbad","College":"UCET"}
dic.update(dic1)
print(dic)

{'Name': 'Harsh', 'Age': 23, 'City': 'Dhanbad', 'College': 'UCET'}

In [49]:
# Q30. Write a code to convert a list of strings into a set.
lis=["Apple","Mango","Banana","Kiwi"]
print(set(lis))

{'Kiwi', 'Banana', 'Apple', 'Mango'}